{% extends 'base.html.twig' %}

{% block title %}Team{% endblock %}

{% block body %}
    <h1>Team {{ team.NumeEchipa }}</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>ID</th>
            <td>{{ team.id }}</td>
        </tr>
        <tr>
            <th>Team Name</th>
            <td>{{ team.NumeEchipa }}</td>
        </tr>
        <tr>
            <th>Number of members</th>
            <td>{{ team.NrOameni }}</td>
        </tr>
        <tr>
            <th>Matches Won</th>
            <td>{{ team.meciuriJucate }}</td>
        </tr>
        <tr>
            <th>Points</th>
            <td>{{ team.points }}</td>
        </tr>
        </tbody>
    </table>
    <a href="{{ path('app_team_index') }}" class="btn btn-custom">Back</a>
<br><br>
    <a href="{{ path('app_team_edit', {'id': team.id}) }}" class="btn btn-custom">Edit</a>
<br><br>
    {{ include('team/_delete_form.html.twig') }}
{% endblock %}
