{% extends 'base.html.twig' %}

{% block title %}SummerMatch{% endblock %}

{% block body %}
    <h1>SummerMatch</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ summer_match.id }}</td>
            </tr>
            <tr>
                <th>StartDate</th>
                <td>{{ summer_match.StartDate.format("d/m/Y h:i:s") }}</td>
            </tr>
            <tr>
                <th>Teams</th>
                <td>
                    {% for team_summer_match in team_summer_matches %}
                        {% if summer_match.id == team_summer_match.match.id %}
                            {{ team_summer_match.team }}<br>
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Winner</th>
                <td>{{ summer_match.Winnerid }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_summer_match_index') }}" class="btn btn-custom">back to list</a>
<br><br>
    <a href="{{ path('app_summer_match_edit', {'id': summer_match.id}) }}" class="btn btn-custom">edit</a>
    <br><br>
    {{ include('summer_match/_delete_form.html.twig') }}
{% endblock %}
