{% extends 'base.html.twig' %}

{% block title %}SummerMatch{% endblock %}

{% block body %}
    <h1>SummerMatch</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ summer_match.id }}</td>
            </tr>
            <tr>
                <th>StartDate</th>
                <td>{{ summer_match.StartDate }}</td>
            </tr>
            <tr>
                <th>Winner</th>
                <td>{{ summer_match.Winnerid }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_summer_match_index') }}">back to list</a>

    <a href="{{ path('app_summer_match_edit', {'id': summer_match.id}) }}">edit</a>

    {{ include('summer_match/_delete_form.html.twig') }}
{% endblock %}
