{% extends 'base.html.twig' %}

{% block title %}TeamSummerMatch index{% endblock %}

{% block body %}
    <h1>TeamSummerMatch</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Match ID</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for team_summer_match in team_summer_matches %}
            <tr>
                <td>{{ team_summer_match.id }}</td>
                <td>{{ team_summer_match.team }}</td>
                <td>{{ team_summer_match.match }}</td>
                <td>
                    <a href="{{ path('app_team_summer_match_show', {'id': team_summer_match.id}) }}">show</a>
                    <a href="{{ path('app_team_summer_match_edit', {'id': team_summer_match.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<br>
    <a href="{{ path('app_team_summer_match_new') }}" class="btn btn-custom">Create new</a>
{% endblock %}
